/wp-content/themes/lesson18/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentysixteen/
/wp-content/themes/theme_classic/.idea/
/wp-content/themes/theme_classic/node_modules/
