$main-color: #111;
$footer-color: #555;
$logo-size: (24/16)*1rem;
$main-font-size: 16px;
$main-font: 'proxima nova', sans-serif;
$main-link-color:  #111;
$logo-font-weight: 600;
$primary-nav-link-color: #ccc;
$link_hover-color: darkorange;
$h2-font-size-mobile: (32/16)*1rem;
$h2-font-size: (48/16)*1rem;
$h2-font-weight: 400;
$h2-font-family: nexa, sans-serif;
$h3-font-size: (30/16)*1rem;
$link-pagination-weight: 600;
$h3-font-weight: 600;
$h3-font-family: nexa, sans-serif;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;
$link-transition: color 0.5s linear;