.main-posts {
  padding: 30px 0 0;
  article {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
    h2 {
      margin: 0 auto 20px;
    }
    .date {
      display: block;
    }
    .thumbnail-wrapper {
      width: 290px;
      margin: 30px auto;
      img {
        max-width: 100%;
        height: auto;

      }
    }
  }
}

.post.type-post {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  header {
    text-align: center;
    h1 {
      font-family: $h1-post--font-family;
      font-size: $h1-post-font-size-mobile;
      font-weight: $h1-post-font-weight;
    }
    .entry-meta {
      font-weight: 600;
      font-size: (14/16)*1rem;
      color: #555;
    }
  }
  h2 {
    font-size: $h2-post-size;
    font-weight: $h2-post-font-weight;
    margin-bottom: 30px;
  }
  p {
    line-height: 20px;
    margin-bottom: 30px;
  }
}
.single-post {
  article {
    padding: 20px 0 50px;
    border-bottom: 1px solid #ccc;
  }
  h2 {
    margin-top: 30px;
  }
  .date {
    display: block;
  }
  h3 {
    font-size: (28/16)*1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
.page.type-page {
  padding: 30px 0;
  .entry-content {
    h2 {
      margin-bottom: 50px;
    }
    p {
      padding-bottom: 20px;
    }
  }
}

.page-content {
  border-bottom: 1px solid #ccc;
}

//page-about
.our-team {
  padding: 50px 0;
  h2 {

  }
  article {
    text-align: center;
    padding: 40px 15px 0;

    h3 {
      margin-top: 30px;
      font-size: (18/16)*1rem;
      font-weight: 600;
    }
    .kind-of-activity {
      color: #555;
    }
    .thumbnail-wrapper {
      width: 220px;
      height: 220px;
      margin: auto;
      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
  }
}
.category {
  .main-posts {
    article {
      &:last-child {
        padding-bottom: 50px;
      }
    }
  }
}
.categorised {
  background-color: rgba(247, 247, 247, 0.85);
  border-bottom: 1px solid #ccc;
  .category-list {
    float: right;
    padding-right: 50px;
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-family: $category-font;
        color: $category-color;
        padding: 20px 0;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid black;
        }

      }
    }
  }
}