.main-posts {
  padding: 30px 0 0;
  article {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
    h2 {
      margin: 0 auto 20px;
    }
    .date {
      display: block;
    }
    .thumbnail-wrapper {
      width: 290px;
      margin: 30px auto;
      img {
        max-width: 100%;
        height: auto;

      }
    }
  }
}

.post.type-post {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  header {
    text-align: center;
    h1 {
      font-family: $h1-post--font-family;
      font-size: $h1-post-font-size-mobile;
      font-weight: $h1-post-font-weight;
    }
    .entry-meta {
      font-weight: 600;
      font-size: (14/16)*1rem;
      color: #555;
    }
  }
  h2 {
    font-size: $h2-post-size;
    font-weight: $h2-post-font-weight;
    margin-bottom: 30px;
  }
  p {
    line-height: 20px;
    margin-bottom: 30px;
  }
}
.page.type-page {
  padding: 30px 0;
  .entry-content {
    h2 {
      margin-bottom: 50px;
    }
    p {
      padding-bottom: 20px;
    }
  }
}
.page-content {
  border-bottom: 1px solid #ccc;
}